*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#nav h3{
    font-size: 17px;
    border: 1px solid;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
.ri-menu-line{
    font-size: 16px;
    border: 1px solid black;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase
}
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight: 600;
}
#btn2{
    color: white;
    background-color: orange;
}
#main>h1{
    font-size: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 380px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 40px;
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}
#bottom{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 0px 40px;
    padding-top: 40%;
}
#bottom-part1{
    font-size: 20px; 
    bottom: 5%;
    
}
#bottom-part2{
    font-size: 20px; 
    bottom: 5%;
}
#bottom-part3{
    font-size: 20px; 
    bottom: 5%;
}